
@font-face {
    font-family: 'pf_agora_sans_probold';
    src: url('../fonts/pfagorasanspro-bold_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-bold_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-bold_0-webfont.svg#pf_agora_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_probold_italic';
    src: url('../fonts/pfagorasanspro-bolditalic_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-bolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-bolditalic_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-bolditalic_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-bolditalic_0-webfont.svg#pf_agora_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_pro_mediumRg';
    src: url('../fonts/pfagorasanspro-medium_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-medium_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-medium_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-medium_0-webfont.svg#pf_agora_sans_pro_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_pro_mediumIt';
    src: url('../fonts/pfagorasanspro-mediumital_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-mediumital_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-mediumital_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-mediumital_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-mediumital_0-webfont.svg#pf_agora_sans_pro_mediumIt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_proregular';
    src: url('../fonts/pfagorasanspro-reg_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-reg_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-reg_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-reg_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-reg_0-webfont.svg#pf_agora_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_proitalic';
    src: url('../fonts/pfagorasanspro-italic_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-italic_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-italic_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-italic_0-webfont.svg#pf_agora_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_pro_lightRg';
    src: url('../fonts/pfagorasanspro-light_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-light_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-light_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-light_0-webfont.svg#pf_agora_sans_pro_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_sans_pro_lightitalic';
    src: url('../fonts/pfagorasanspro-lightital_0-webfont.eot');
    src: url('../fonts/pfagorasanspro-lightital_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-lightital_0-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-lightital_0-webfont.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-lightital_0-webfont.svg#pf_agora_sans_pro_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans_probold';
    src: url('../fonts/pfsquaresanspro-bold-webfont.eot');
    src: url('../fonts/pfsquaresanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-bold-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-bold-webfont.svg#pf_square_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_proregular';
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot');
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-regular-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-regular-webfont.svg#pf_square_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_pro_mediumRg';
    src: url('../fonts/pfsquaresanspro-medium-webfont.eot');
    src: url('../fonts/pfsquaresanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-medium-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-medium-webfont.svg#pf_square_sans_pro_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_pro_mediumIt';
    src: url('../fonts/pfsquaresanspro-meditalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-meditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.svg#pf_square_sans_pro_mediumIt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_proitalic';
    src: url('../fonts/pfsquaresanspro-italic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-italic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-italic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-italic-webfont.svg#pf_square_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_pro_lightRg';
    src: url('../fonts/pfsquaresanspro-light-webfont.eot');
    src: url('../fonts/pfsquaresanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-light-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-light-webfont.svg#pf_square_sans_pro_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_square_sans_pro_lightIt';
    src: url('../fonts/pfsquaresanspro-lightitalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.svg#pf_square_sans_pro_lightIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, ol, li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}

$agora_reg: 'pf_agora_sans_proregular';
$agora_lightRg: 'pf_agora_sans_pro_lightRg';

@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// wrap for content
@mixin b-content($main-width) {
  width: 100%;
  .wrap {
    margin: 0 auto;
    width: $main-width;
    @include clearfix;
  }
}

// header&footer 
@mixin main-theme($main-width, $m-top, $m-right) {
  width: 100%;
  height: 90px;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
  @include b-content($main-width);
  .logo {
    float: left;
    margin: $m-top $m-right 0 0;
  }
}

// style for horizontal list
@mixin hor-list($f-size) {
  width: auto;
  font-size: 0;
  li {
    display: inline-block;
    font-size: $f-size;
    vertical-align: middle;
  }
}

@mixin b-dott {
  
  border: 4px dotted #a7a6a6;
  border-radius: 12px;
  padding: 18px 15px 20px 19px;
}

$bullet-blue: 'blue.png';
$bullet-red: 'red.png';

@mixin list-style($bull-color) {
  
  $image_dir: '../img/elem/bull-';
  
  li {
    margin-bottom: 10px;
    font-size: 14px;
    list-style-image: url( $image_dir + $bull-color);
  }
}

@mixin two-col($w-left, $w-right, $mr) {
  .content {
    overflow: hidden;
    .col-l {
      float: left;
      width: $w-left;
      margin-right: $mr;
    }
    .col-r {
      float: right;
      width: $w-right;
    }
  }
}

@mixin b-big-title($bg-color, $bg-color-title, $f-size-title, $shad-color, $w-left, $w-right, $mr) {
  
  $bg-img-dir: '../img/bg/eye-';
  $title-img-dir: '../img/bg/big-title-';
  
  width: 100%;
  background: url($bg-img-dir + $bg-color) 0 0 repeat;
  padding-bottom: 44px;
  @include b-content(980px);
  
  .big-bg-title {
    background: url($title-img-dir + $bg-color-title) 0 0 no-repeat;
    width: 550px;
    height: 87px;
    margin: 0 auto -25px;
    text-align: center;
    line-height: 87px;
    position: relative;
    top: -44px;
    
    font: {
      size: $f-size-title;
      family: $agora_reg, sans-serif;
    }
    color: #fff;
    text-shadow: -1px -1px $shad-color;
  }
  
  @include two-col($w-left, $w-right, $mr);
}

@mixin icon-list($w, $h, $hor-pos, $vert-pos) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url(../img/sprite.png) $hor-pos $vert-pos no-repeat;
}

@mixin main-border($left, $height) {
  position: relative;
  z-index: 3;
  left: $left;
  display: block;
  height: $height;
}



body {
  width: 100%;
  height: 100%;
  color: #2a2829;
  font: normal 12px/18px Tahoma, Arial, sans-serif;
}

.header {
  @include main-theme(980px, 22px, 0);
  .actions {
    @include hor-list(18px);
    float: right;
    margin: 40px 0 0;
    li {
      margin-left: 20px;
    }
    li:first-child a {
      color: #32393d;
    }
    li.counter {
      background-color: #3d3d3d;
      border-radius: 18px;
      height: 33px;
      form {
        float: left;
        margin: -5px 10px 0 15px;
        border-radius: 22px;
        background-color: #dc2a2a;
        height: 43px;
        .arr-count {
          @include hor-list(18px);
          margin: 5px 5px 0 8px;
          li {
            margin: 0 2px;
            a {
              color: #e98989;
              text-decoration: none;
            }
            input {
              font: normal 22px Tahoma, Arial, sans-serif;
              color: #feffff;
              background-color: #dc2a2a;
              width: 15px;
            }
          }
        }
      }
      &>a {
        color: #feffff;
        float: left;
        margin: 5px 12px 0 0;
        text-decoration: none;
      }
    }
    li.ask-me {
      border-radius: 18px;
      height: 33px;
      background-color: #2889f1;
      a {
        text-decoration: none;
        color: #feffff;
        padding: 2px 22px 0 10px;
        display: block;
        height: 100%;
        &:hover {
          span {
            border-bottom: none;
          }
        }
        img {
          float: left;
        }
        span {
          border-bottom: 1px solid;
          padding-bottom: 1px;
          float: right;
          margin: 3px 0 0 12px;
        }
      }
    }
  }
} //header

.b-banner {
  background: #697a88;
  overflow: hidden;
  @include b-content(980px);
  .wrap {
    position: relative;
    height: 401px;
    h2 {
      position: relative;
      .txt-biggest {
        font: {
          family: 'pf_square_sans_probold', sans-serif;
          size: 120px;
        }
        color: #1b7ce5;
        text-shadow: 1px 1px 0 #f2f3f5;
        position: absolute;
        bottom: 255px;
        left: 40px;
      }
      .txt-medium {
        font: {
          family: 'pf_square_sans_pro_mediumRg', sans-serif;
          size: 90px;
        }
        color: #2b3135;
        text-shadow: 1px 1px 0 #f6f7f9;
        position: absolute;
        bottom: 100px;
        left: 145px;
      }
      .txt-smallest {
        font: {
          family: 'pf_square_sans_pro_mediumRg', sans-serif;
          size: 50px;
        }
        color: #2b3135;
        text-shadow: 1px 1px #f6f7f9;
        position: absolute;
        bottom: 165px;
        left: -10px;
      }
    }
  }
}
.b-banner-text {
  background: url(../img/bg/noise-dark.png) 0 0 repeat;
  box-shadow: 0 4px 7px 2px #9A9A9A;
  position: relative;
  z-index: 2;
  @include b-content(960px);
  ul {
    @include hor-list(12px);
    height: 130px;
    li {
      width: 368px;
      margin: 30px 0 0 0;
      color: #fff;
      vertical-align: top;
      text-align: justify;
    }
    li.img-item {
      width: 194px;
      margin: 0 35px 0 0;
      padding: 0;
      position: relative;
      bottom: 25%;
    }
    li.col-1 {
      width: 316px;
      margin-right: 30px;
    }
  }
}

.b-illness {
  background: #e0e0e0 url(../img/elem/border-line.png) 0 bottom repeat-x;
  @include b-content(1000px);
  .wrap {
    padding: 70px 0 30px;
    overflow: hidden;
    .b-dotted {
      @include b-dott;
      float: left;
      margin-right: 13px;
      text-shadow: 1px 1px 0 #fff;
      font: {
        family: Georgia, serif;
        size: 14px;
        style: italic;
      }
      line-height: 20px;
      width: 220px;
      h5 {
        font: {
          family: Georgia, serif;
          size: 14px;
          style: italic;
          weight: bold;
        }
      }
    }
    .carousel {
      float: left;
    }
  }
}

.other-methods {
  background: url(../img/bg/cell-dark.png) 0 0 repeat;
  overflow: hidden;
  @include b-content(980px);
    .m-img {
      float: left;
      margin: 20px 0 0 -10%;
    }
    .methods {
      float: left;
      width: 67%;
      .m-txt {
        color: #fff;
        h3 {
          font: {
            family: 'pf_agora_sans_proitalic', sans-serif;
            weight: normal;
            size: 32px;
          }
          margin-bottom: 12px;
          text-shadow: 0 1px 1px #000;
        }
      }
      .item-1 {margin: 60px 0 0 -90px;}
      .item-2 {margin: 50px 0 0 20px;}
      .item-3 {margin: 70px 0 0 -90px;}
    }
  .border {
    @include main-border(25%, 40px);
  }
}

// ----------------------------------- ad block
.b-ad {
  background: url(../img/bg/canvas-grey.jpg) 0 0 repeat;
  overflow: hidden;
  @include b-content(1000px);
  .arg {
    @include clearfix;
    h2 {
      padding: 15px 42px 0 0;
      margin: 10px 40px 0 0;
      background: url(../img/elem/arr-grey.png) right 0 no-repeat;
      float: left;
      width: 487px;
      text-shadow: 1px 1px 0 #fff;
      line-height: 64px;
      .txt-biggest {
        font: {
          family: 'pf_square_sans_pro_mediumIt', sans-serif;
          size: 95px;
        }
        color: #3b3b3b;
      }
      .txt-medium {
        font: {
          family: 'pf_square_sans_pro_lightRg', sans-serif;
          size: 64px;
        }
        float: right;
        color: #2889f1;
        line-height: 41px;
      }
      .txt-mediumIt {
        font: {
          family: 'pf_square_sans_proitalic', sans-serif;
          size: 70px;
        }
        color: #3b3b3b;
        line-height: 91px;
      }
      .txt-smallest {
        font: {
          family: 'pf_square_sans_pro_lightRg', sans-serif;
          size: 50px;
        }
        color: #2889f1;
      }
    }
    ul {
      @include list-style($bullet-blue);
      float: left;
      width: 42%;
      margin-bottom: 30px;
    }
  }
  .promo-line {
    background-color: rgba(0, 0, 0, 0.1);
    height: 80px;
    position: relative;
    width: 930px;
    margin: 0 auto;
    border-top: 1px dashed #949697;
    border-bottom: 1px dashed #fff;
    margin-bottom: 40px;
    &:before {
      content: url(../img/elem/title-arr-l.png);
      display: block;
      position: absolute;
      top: 0;
      left: -11px;
    }
    &:after {
      content: url(../img/elem/title-arr-r.png);
      display: block;
      position: absolute;
      top: 0;
      right: -11px;
    }
    h3 {
      text-align: center;
      line-height: 30px;
      padding-top: 8px;
      border-bottom: 1px dashed #949697;
      border-top: 1px dashed #fff;
      height: 70px;
      width: 99.9%;
      font: {
        family: 'pf_agora_sans_proitalic', sans-serif;
        size: 22px;
      }
      span {
        font-family: 'pf_agora_sans_pro_mediumIt', sans-serif;
      }
      span.colored {
        color: #2889f1;
        font-size: 24px;
        font-family: 'pf_agora_sans_proitalic';
      }
    }
  }
  .qualities {
    @include hor-list(20px);
    margin: 0 auto;
    li {
      width: 25%;
      margin-bottom: 25px;
      line-height: 100%;
      height: 60px;
      .safe {
        @include icon-list(60px, 60px, 0, 0);
        vertical-align: -100%;
      }
      .stuff {
        @include icon-list(60px, 60px, 0, -63px);
        vertical-align: -7%;
      }
      .inj {
        @include icon-list(60px, 60px, 0, -126px);
        vertical-align: -100%;
      }
      .done {
        @include icon-list(60px, 60px, 0, -189px);
        vertical-align: -45%;
      }
      
      .txt {
        font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
        display: inline-block;
        width: 60%;
        margin-left: 15px;
        vertical-align: 10%;
      }
    }
  }
  .border {
    @include main-border(50%, 101px);
    float: left;
    margin-top: -40px;
    img {
      float: left;
      position: relative;
      left: -50%;
    }
  }
} // ad block 

// ------------------------- ad block for information about method
.b-ad-method {
  background-color: #dcdcdc;
  padding-bottom: 70px;
  @include b-content(990px);
  .banner {
    overflow: hidden;
    padding-top: 10px;
    .img {
      float: left;
      margin: 25px 30px 0 0;
    }
    .disk {
      border: 6px solid #fff;
      background: #d0cece url(../img/bg/cell-gradient.jpg) 0 bottom repeat-x;
      border-radius: 12px;
      float: right;
      padding: 0 20px 10px 10px;
      margin-top: 50px;
      height: 180px;
      width: 620px;
      @include clearfix;
      img {
        float: left;
        margin: -60px 15px 0 0;
      }
      .txt {
        float: left;
        width: 385px;
        margin-top: 20px;
        line-height: 34px;
        text-shadow: 1px 1px 1px #fff;
        font: {
          family: 'pf_agora_sans_pro_mediumRg', sans-serif;
          size: 20px;
        }
        .colored {
          font: {
            family: 'pf_agora_sans_probold', sans-serif;
            size: 30px;
          }
          color: #2889f1;
          display: block;
        }
      }
    }
  }
  .border {
    border-bottom: 1px dashed #939697;
    height: 3px;
    line-height: 0;
    margin: 25px auto 10px;
    width: 930px;
    span {
      border-bottom: 1px dashed #FFFFFF;
      display: inline-block;
      height: 100%;
      line-height: 0;
      margin: 0 auto;
      width: 99.9%;
    }
  }
  .b-licence {
    overflow: hidden;
    margin-bottom: -40px;
    .img {
      float: left;
      margin-right: 30px;
    }
    .txt {
      float: right;
      width: 490px;
      margin-top: 30px;
      ul {
        @include list-style($bullet-blue);
        margin-bottom: 30px;
        li {
          font: {
            family: Georgia, serif;
            size: 16px;
            style: italic;
          }
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
          line-height: 18px;
          margin-bottom: 15px;
        }
      }
      .ad-txt {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.how-it-works {
  @include b-big-title('dark.png', 'blue.png', 31px, #2571cc, 695px, 240px, 15px);
    
  .content {
    color: #fff;
    
    h3 {
      font-size: 31px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 35px;
      font-family: $agora_reg, sans-serif;
    }
  
    .txt {
      font-size: 14px;
      p {
        margin-bottom: 15px;
      }
    }
    
    .bubble {
      padding: 20px 5px 25px 25px;
      background-color: #2388ef;
      border-radius: 12px;
      position: relative;
      font: {
        family: 'pf_agora_sans_pro_lightitalic', sans-serif;
        size: 18px;
      }
      line-height: 26px;
      text-shadow: -1px -1px #1377dd;
      &:after {
        content: url(../img/elem/corner-bott.png);
        width: 54px;
        height: 32px;
        display: block;
        position: absolute;
        bottom: -32px;
        right: 40px;
        z-index: 2;
      }
    }
  }
}

.information {
  @include b-big-title('light.png', 'red.png', 24px, #b11829, 355px, 540px, 35px);
  -webkit-box-shadow: hoff voff radius color;
  -moz-box-shadow: hoff voff radius color;
  box-shadow: hoff voff radius color;
  
  h3 span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    width: 385px;
  }
  
  h4 {
    font: {
      size: 24px;
      family: $agora_reg, sans-serif;
    }
    line-height: 28px;
    margin-bottom: 20px;
    width: 99%;
  }
  .b-dotted {
    @include b-dott;
    
    ul>li {
      margin-bottom: 10px;
      .txt {
        font: {
          family: Georgia, serif;
          size: 16px;
          style: italic;
        }
        line-height: 22px;
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
        width: 59%;
      }
      .steps {
        @include icon-list(72px, 72px, -72px, 0);
        vertical-align: middle;
      }
      .video {
        @include icon-list(72px, 72px, -72px, -77px);
        vertical-align: middle;
      }
      .exercise {
        @include icon-list(72px, 72px, -72px, -154px);
        vertical-align: middle;
      }
    }
  }
  div.txt {
    margin-top: 22px;
    h4 {
      margin-bottom: 38px;
    }
    ul {
      @include list-style($bullet-red);
      margin-left: 30px;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

.info-carousel {
  @include b-content(1000px);
  position: relative;
  >img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.feedback {
  @include b-content(1000px);
  background: url(../img/bg/noise-light.png) 0 0 repeat;
  padding-bottom: 10px;
  .border {
    display: block;
    height: 14px;
    width: 100%;
    background: url(../img/elem/border-noise-light.png) 0 0 repeat-x;
    position: relative;
    top: -14px;
    z-index: 2;
  }
  
  .title-ribbon {
    @include two-col(400px, 385px, 0);
    width: 899px;
    height: 77px;
    margin: 0 auto -20px;
    background: url(../img/elem/red-ribbon.png) 0 0 no-repeat;
    color: #fff;
    text-shadow: -1px -1px #B11829;
    font-size: 24px;
    font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
    font-style: normal;
    line-height: 74px;
    text-align: center;
    position: relative;
    top: -45px;
    z-index: 3;
  }
  
  @include two-col(470px, 485px, 30px);
  
  font: {
    family: Georgia, serif;
    size: 16px;
    style: italic;
  }
  line-height: 20px;
  color: #383637;
  
  .dialog {
    border-top: 1px dashed #949697;
    padding: 43px 1px 43px 0;
    width: 460px;
    overflow: hidden;
    &:first-child {
      border-top: 0;
      padding-top: 5px;
    }
    .ans {
      float: right;
      width: 370px;
      background-color: #dedede;
      padding: 15px 15px 17px;
      border-radius: 12px;
      -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
      position: relative;
      margin-bottom: 8px;
      
      &:after {
        content: url(../img/elem/corner-left.png);
        width: 21px;
        height: 20px;
        display: block;
        position: absolute;
        top: 25px;
        left: -21px;
        z-index: 2;
      }
      dl {
        overflow: hidden;
        dt {
          float: left;
          font-weight: bold;
        }
        dd {
          margin-left: 78px;
        }
      }
    }
    
    .qs {
      float: left;
      width: 370px;
      background-color: #4b9bec;
      padding: 15px 15px 17px;
      border-radius: 12px;
      -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      position: relative;
      color: #fefefe;
      
      &:after {
        content: url(../img/elem/corner-right.png);
        width: 21px;
        height: 20px;
        display: block;
        position: absolute;
        top: 25px;
        right: -21px;
        z-index: 2;
      }
      dl {
        overflow: hidden;
        dt {
          float: left;
          font-weight: bold;
        }
        dd {
          margin-left: 78px;
        }
      }
    }
  } // .dialog
  
  .quote {
    .person-info {
      overflow: hidden;
      margin-bottom: -13px;
      .ava {
        float: left;
        margin: 0 12px 0 30px;
      }
      .info {
        float: left;
        margin-top: 10px;
        h5 {
          color: #d01525;
          font-size: 16px;
        }
        p {
          color: #464646;
        }
      }
    }
    .quote-wrap {
      font-size: 14px;
      position: relative;
      padding: 0 15px;
      
      &:before {
        content: url(../img/elem/o-quote.png);
        margin-left: -15px;
      }
      
      &:after {
        content: url(../img/elem/c-quote.png);
        margin-left: 97%;
      }
      .txt {
        padding-bottom: 5px;
        line-height: 19px;
      }
    }
  }
} // feedback

.promo-block {
  @include b-content(750px);
  
  background: #000 url(../img/promo/banner3.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  text-align: center;
  
  h3 {
    font: {
      size: 19px;
      family: $agora_reg, sans-serif;
    }
    line-height: 24px;
    margin-bottom: 40px;
    padding-top: 35px;
  }
  h4 {
    font-family: 'pf_agora_sans_proitalic';
    font-size: 18px;
    line-height: 20px;
  }
} // promo-block

.quality {
  @include b-content(995px);
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
  padding-bottom: 5px;
  
  .border {
    display: block;
    width: 100%;
    height: 7px;
    background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
  }
  
  h3 {
    font: {
      size: 28px;
      family: $agora_reg, sans-serif;
    }
    line-height: 36px;
    text-shadow: 1px 1px #fff;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 35px;
    .colorer {
      color: #4b9bec;
      font: {
        family: 'pf_agora_sans_pro_mediumRg', sans-serif;
      }
    }
  }
  h4 {
    color: #848484;
    font: {
      size: 22px;
      family: $agora_reg, sans-serif;
    }
    line-height: 36px;
    text-shadow: 1px 1px #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list-wrap ul {
    @include hor-list(14px);
    margin-bottom: 10px;
    
    &:first-child {
      background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
      padding-bottom: 32px;
      margin-bottom: 20px;
    }
    
    li {
      width: 25%;
      vertical-align: top;
      
      h4 {
        color: #383637;
        font-size: 24px;
        margin-bottom: 5px;
      }
      
      .icon {
        @include icon-list(133px, 133px, -273px, 0);
        display: block;
        margin: 0 auto;
      }
        .active {
          background-position: -273px -138px;
        }
        .pleasure {
          background-position: -416px 0;
        }
        .calm {
          background-position: -419px -138px;
        }
        .beauty {
          background-position: -559px 0;
        }
        .car {
          background-position: -562px -138px;
        }
        .time {
          background-position: -702px 0;
        }
        .money {
          background-position: -705px -138px;
        }
        
      .txt {
        padding: 0 15px;
      }
    }
  }
}

.b-order {
  @include b-content(1000px);
  background: url(../img/bg/blique.png) 0 bottom repeat-x;
  .bg-wrap {
    background: url(../img/bg/girl.jpg) 50% bottom no-repeat;
  }
    .reason {
      padding: 25px 0 37px;
      background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
      
      .b-red {
        width: 820px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        background-color: #cc3f49;
        padding: 30px 70px 15px;
        overflow: hidden;
        margin-bottom: 25px;
        .img {
          float: left;
          margin-right: 20px;
        }
        .txt {
          float: left;
          color: #fff;
          font-family: $agora_reg, sans-serif;
          @include clearfix;
          h4 {
            font-size: 24px;
            margin-bottom: 20px;
          }
          .quote {
            color: #000;
            font-size: 20px;
            font-family: 'pf_agora_sans_proitalic', sans-serif;
            line-height: 30px;
            padding-left: 35px;
            margin-bottom: 20px;
            
            &:before {
              content: url(../img/elem/o-quote.png);
              margin: 0 0 -15px -35px;
              display: block;
            }
            
            &:after {
              content: url(../img/elem/c-quote.png);
              margin: -17px 0 0 77%;
              display: block;
            }
          }
        }
      }
      
      ul {
        margin-bottom: 35px;
        width: 750px;
        float: right;
        li {
          margin-bottom: 15px;
          
          .icon {
            @include icon-list(70px, 70px, 0, -255px);
            margin-right: 17px;
            vertical-align: top;
          }
            .num-2 {
              background-position: -75px -255px;
            }
            .num-3 {
              background-position: -151px -255px;
            }
            
          .txt {
            display: inline-block;
            width: 82%;
            margin-top: 10px;
          }
        }
      }
      
      .b-red.effect {
        width: 635px;
        margin: 0 auto;
        padding: 20px 0 20px 20px;
        
        .icon {
          @include icon-list(70px, 70px, -156px, 0);
        }
        .txt {
          font-size: 30px;
          line-height: 34px;
          width: 80%;
        }
      }
    }
    
    .formula {
      padding: 35px 0;
      background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
      text-align: center;
      h3 {
        color: #383637;
        font-family: 'pf_agora_sans_proitalic', sans-serif;
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 25px;
      }
    }
    
    .prefooter {
      padding-top: 65px;
      .order {
        float: right;
        @include clearfix;
        margin: 0 9% 35px 0;
        .txt {
          text-align: right;
          float: left;
          margin-right: 45px;
          font-size: 20px;
          font-family: 'pf_agora_sans_proitalic', sans-serif;
          line-height: 30px;
          span {
            display: block;
            font-family: 'pf_agora_sans_pro_mediumIt', sans-serif;;
          }
        }
        .button {
          float: left;
          width: 332px;
          a {
            display: block;
            width: 332px;
            height: 114px;
            background: url(../img/elem/button.png) 0 0 no-repeat;
          }
        }
      }
      
      .attention {
        float: right;
        margin: 0 2% 50px 0;
        @include b-dott;
        padding: 30px 15px;
        width: 530px;
        .img {
          float: left;
          margin-right: 20px;
          .icon {
            @include icon-list(86px, 76px, -156px, -79px);
          }
        }
        .txt {
          float: left;
          width: 74%;
          color: #454343;
        }
      }
    }
}

// footer
.footer {
  @include main-theme(940px, 17px, 40px);
  .shadow {
    width: 100%;
    height: 6px;
    display: block;
    background: url(../img/elem/shadow-footer.png) 0 top repeat-x;
  }
  .copyright {
    float: left;
    color: #383637;
    margin-top: 20px;
    p {
      margin-bottom: 5px;
    }
    .contacts {
      @include hor-list(12px);
      li {
        margin-right: 17px;
        &:first-child {
          margin-right: 10px;
        }
        a {
          text-decoration: none;
          &:hover {
            .txt {
              text-decoration: none;
            }
          }
          .txt {
            color: #2893cd;
            text-decoration: underline;
          }
        }
        .icon {
          background: url(../img/sprite.png) 0 0 no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
          .mail {
            background-position: -156px -168px;
          }
          .icq {
            background-position: -156px -187px;
          }
          .skype {
            background-position: -156px -208px;
          }
      }
    }
  }
} 


