@font-face {
  font-family: 'pf_agora_sans_probold';
  src: url("../fonts/pfagorasanspro-bold_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-bold_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-bold_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-bold_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-bold_0-webfont.svg#pf_agora_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_probold_italic';
  src: url("../fonts/pfagorasanspro-bolditalic_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-bolditalic_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.svg#pf_agora_sans_probold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_mediumRg';
  src: url("../fonts/pfagorasanspro-medium_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-medium_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-medium_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-medium_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-medium_0-webfont.svg#pf_agora_sans_pro_mediumRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_mediumIt';
  src: url("../fonts/pfagorasanspro-mediumital_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-mediumital_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-mediumital_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-mediumital_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-mediumital_0-webfont.svg#pf_agora_sans_pro_mediumIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_proregular';
  src: url("../fonts/pfagorasanspro-reg_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-reg_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-reg_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-reg_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-reg_0-webfont.svg#pf_agora_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_proitalic';
  src: url("../fonts/pfagorasanspro-italic_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-italic_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-italic_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-italic_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-italic_0-webfont.svg#pf_agora_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_lightRg';
  src: url("../fonts/pfagorasanspro-light_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-light_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-light_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-light_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-light_0-webfont.svg#pf_agora_sans_pro_lightRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_lightitalic';
  src: url("../fonts/pfagorasanspro-lightital_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-lightital_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-lightital_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-lightital_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-lightital_0-webfont.svg#pf_agora_sans_pro_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_probold';
  src: url("../fonts/pfsquaresanspro-bold-webfont.eot");
  src: url("../fonts/pfsquaresanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-bold-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-bold-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-bold-webfont.svg#pf_square_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_proregular';
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot");
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-regular-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-regular-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-regular-webfont.svg#pf_square_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_mediumRg';
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot");
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-medium-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-medium-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-medium-webfont.svg#pf_square_sans_pro_mediumRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_mediumIt';
  src: url("../fonts/pfsquaresanspro-meditalic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-meditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-meditalic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-meditalic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-meditalic-webfont.svg#pf_square_sans_pro_mediumIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_proitalic';
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-italic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-italic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-italic-webfont.svg#pf_square_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_lightRg';
  src: url("../fonts/pfsquaresanspro-light-webfont.eot");
  src: url("../fonts/pfsquaresanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-light-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-light-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-light-webfont.svg#pf_square_sans_pro_lightRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_lightIt';
  src: url("../fonts/pfsquaresanspro-lightitalic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-lightitalic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-lightitalic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-lightitalic-webfont.svg#pf_square_sans_pro_lightIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 217, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
ul, ol, li {
  list-style: none;
}

/* line 220, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
a:hover {
  text-decoration: none;
  border: 0;
}

/* line 292, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 299, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  color: #2a2829;
  font: normal 12px/18px Tahoma, Arial, sans-serif;
}

/* line 306, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header {
  width: 100%;
  height: 90px;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
}
/* line 238, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .logo {
  float: left;
}
/* line 308, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 310, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .logo {
  margin: 22px 0 0;
}
/* line 313, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions {
  width: auto;
  font-size: 0;
  float: right;
  margin: 40px 0 0;
}
/* line 247, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}
/* line 317, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li {
  margin-left: 20px;
}
/* line 320, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li:first-child a {
  color: #32393d;
}
/* line 323, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter {
  background-color: #3d3d3d;
  border-radius: 18px;
  height: 33px;
}
/* line 327, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form {
  float: left;
  margin: -5px 10px 0 15px;
  border-radius: 22px;
  background-color: #dc2a2a;
  height: 43px;
}
/* line 333, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form .arr-count {
  width: auto;
  font-size: 0;
  margin: 5px 5px 0 8px;
}
/* line 247, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form .arr-count li {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}
/* line 336, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form .arr-count li {
  margin: 0 2px;
}
/* line 338, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form .arr-count li a {
  color: #e98989;
  text-decoration: none;
}
/* line 342, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter form .arr-count li input {
  font: normal 22px Tahoma, Arial, sans-serif;
  color: #feffff;
  background-color: #dc2a2a;
  width: 15px;
}
/* line 351, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.counter > a {
  color: #feffff;
  float: left;
  margin: 5px 12px 0 0;
  text-decoration: none;
}
/* line 358, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.ask-me {
  border-radius: 18px;
  height: 33px;
  background-color: #2889f1;
}
/* line 362, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.ask-me a {
  text-decoration: none;
  color: #feffff;
  padding: 2px 22px 0 10px;
  display: block;
  height: 100%;
}
/* line 369, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.ask-me a:hover span {
  border-bottom: none;
}
/* line 373, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.ask-me a img {
  float: left;
}
/* line 376, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap .actions li.ask-me a span {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  float: right;
  margin: 3px 0 0 12px;
}

/* line 388, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner {
  width: 100%;
  background: #697a88;
  overflow: hidden;
}
/* line 392, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap {
  margin: 0 auto;
  width: 980px;
  position: relative;
  height: 401px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 396, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 {
  position: relative;
}
/* line 398, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-biggest {
  font-family: 'pf_square_sans_probold', sans-serif;
  font-size: 120px;
  color: #1b7ce5;
  text-shadow: 1px 1px 0 #f2f3f5;
  position: absolute;
  bottom: 255px;
  left: 40px;
}
/* line 409, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-medium {
  font-family: 'pf_square_sans_pro_mediumRg', sans-serif;
  font-size: 90px;
  color: #2b3135;
  text-shadow: 1px 1px 0 #f6f7f9;
  position: absolute;
  bottom: 100px;
  left: 145px;
}
/* line 420, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-smallest {
  font-family: 'pf_square_sans_pro_mediumRg', sans-serif;
  font-size: 50px;
  color: #2b3135;
  text-shadow: 1px 1px #f6f7f9;
  position: absolute;
  bottom: 165px;
  left: -10px;
}

/* line 434, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text {
  width: 100%;
  background: url(../img/bg/noise-dark.png) 0 0 repeat;
  box-shadow: 0 4px 7px 2px #9A9A9A;
  position: relative;
  z-index: 2;
}
/* line 440, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap {
  margin: 0 auto;
  width: 960px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 442, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap ul {
  width: auto;
  font-size: 0;
  height: 130px;
}
/* line 247, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap ul li {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
/* line 445, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap ul li {
  width: 368px;
  margin: 30px 0 0 0;
  color: #fff;
  vertical-align: top;
  text-align: justify;
}
/* line 452, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap ul li.img-item {
  width: 194px;
  margin: 0 35px 0 0;
  padding: 0;
  position: relative;
  bottom: 25%;
}
/* line 459, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap ul li.col-1 {
  width: 316px;
  margin-right: 30px;
}

/* line 467, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness {
  width: 100%;
  background: #e0e0e0 url(../img/elem/border-line.png) 0 bottom repeat-x;
}
/* line 470, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap {
  margin: 0 auto;
  width: 1000px;
  padding: 70px 0 30px;
  overflow: hidden;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 474, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .b-dotted {
  border: 4px dotted #a7a6a6;
  float: left;
  border-radius: 12px;
  padding: 18px 15px 20px 19px;
  margin-right: 13px;
  text-shadow: 1px 1px 0 #fff;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  width: 220px;
}
/* line 488, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .b-dotted h5 {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
/* line 497, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .carousel {
  float: left;
}

/* line 503, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods {
  width: 100%;
  background: url(../img/bg/cell-dark.png) 0 0 repeat;
  overflow: hidden;
}
/* line 507, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 509, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .m-img {
  float: left;
  margin: 20px 0 0 -10%;
}
/* line 513, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods {
  float: left;
  width: 67%;
}
/* line 516, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods .m-txt {
  color: #fff;
}
/* line 518, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods .m-txt h3 {
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 12px;
  text-shadow: 0 1px 1px #000;
}
/* line 528, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods .item-1 {
  margin: 60px 0 0 -90px;
}
/* line 529, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods .item-2 {
  margin: 50px 0 0 20px;
}
/* line 530, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap .methods .item-3 {
  margin: 70px 0 0 -90px;
}
/* line 533, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .border {
  position: relative;
  z-index: 3;
  left: 25%;
  display: block;
  height: 40px;
}

/* line 538, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad {
  width: 100%;
  background: url(../img/bg/canvas-grey.jpg) 0 0 repeat;
  overflow: hidden;
}
/* line 542, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 546, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg h2 {
  padding: 15px 42px 0 0;
  margin: 10px 40px 0 0;
  background: url(../img/elem/arr-grey.png) right 0 no-repeat;
  float: left;
  width: 487px;
  text-shadow: 1px 1px 0 #fff;
  line-height: 64px;
}
/* line 554, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg h2 .txt-biggest {
  font-family: 'pf_square_sans_pro_mediumIt', sans-serif;
  font-size: 95px;
  color: #3b3b3b;
}
/* line 561, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg h2 .txt-medium {
  font-family: 'pf_square_sans_pro_lightRg', sans-serif;
  font-size: 64px;
  float: right;
  color: #2889f1;
  line-height: 41px;
}
/* line 570, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg h2 .txt-mediumIt {
  font-family: 'pf_square_sans_proitalic', sans-serif;
  font-size: 70px;
  color: #3b3b3b;
  line-height: 91px;
}
/* line 578, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg h2 .txt-smallest {
  font-family: 'pf_square_sans_pro_lightRg', sans-serif;
  font-size: 50px;
  color: #2889f1;
}
/* line 586, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg ul {
  float: left;
  width: 42%;
  margin-bottom: 30px;
}
/* line 261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .arg ul li {
  margin-bottom: 10px;
  font-size: 14px;
  list-style-image: url("../img/elem/bull-blue.png");
}
/* line 593, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line {
  background-color: rgba(0, 0, 0, 0.1);
  height: 80px;
  position: relative;
  width: 930px;
  margin: 0 auto;
  border-top: 1px dashed #949697;
  border-bottom: 1px dashed #fff;
  margin-bottom: 40px;
}
/* line 602, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line:before {
  content: url(../img/elem/title-arr-l.png);
  display: block;
  position: absolute;
  top: 0;
  left: -11px;
}
/* line 609, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line:after {
  content: url(../img/elem/title-arr-r.png);
  display: block;
  position: absolute;
  top: 0;
  right: -11px;
}
/* line 616, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line h3 {
  text-align: center;
  line-height: 30px;
  padding-top: 8px;
  border-bottom: 1px dashed #949697;
  border-top: 1px dashed #fff;
  height: 70px;
  width: 99.9%;
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  font-size: 22px;
}
/* line 628, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line h3 span {
  font-family: 'pf_agora_sans_pro_mediumIt', sans-serif;
}
/* line 631, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .promo-line h3 span.colored {
  color: #2889f1;
  font-size: 24px;
  font-family: 'pf_agora_sans_proitalic';
}
/* line 638, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities {
  width: auto;
  font-size: 0;
  margin: 0 auto;
}
/* line 247, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}
/* line 641, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li {
  width: 25%;
  margin-bottom: 25px;
  line-height: 100%;
  height: 60px;
}
/* line 646, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li .safe {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 0 no-repeat;
  vertical-align: -100%;
}
/* line 650, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li .stuff {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -63px no-repeat;
  vertical-align: -7%;
}
/* line 654, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li .inj {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -126px no-repeat;
  vertical-align: -100%;
}
/* line 658, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li .done {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -189px no-repeat;
  vertical-align: -45%;
}
/* line 663, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap .qualities li .txt {
  font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
  display: inline-block;
  width: 60%;
  margin-left: 15px;
  vertical-align: 10%;
}
/* line 673, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .border {
  position: relative;
  z-index: 3;
  left: 50%;
  display: block;
  height: 101px;
  float: left;
  top: -40px;
}
/* line 677, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .border img {
  float: left;
  position: relative;
  left: -50%;
}

/* line 686, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer {
  width: 100%;
  height: 90px;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
}
/* line 238, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .logo {
  float: left;
}
/* line 688, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap {
  margin: 0 auto;
  width: 940px;
}
/* line 226, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 690, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .logo {
  margin: 17px 40px 0 0;
}
/* line 693, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright {
  float: left;
  color: #383637;
  margin-top: 20px;
}
/* line 697, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright p {
  margin-bottom: 5px;
}
/* line 700, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts {
  width: auto;
  font-size: 0;
}
/* line 247, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
/* line 702, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li {
  margin-right: 17px;
}
/* line 704, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li:first-child {
  margin-right: 10px;
}
/* line 707, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li a {
  text-decoration: none;
}
/* line 710, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li a:hover .txt {
  text-decoration: none;
}
/* line 714, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li a .txt {
  color: #2893cd;
  text-decoration: underline;
}
/* line 719, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li .icon {
  background: url(../img/sprite.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
/* line 727, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li .mail {
  background-position: -156px -168px;
}
/* line 730, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li .icq {
  background-position: -156px -187px;
}
/* line 733, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap .copyright .contacts li .skype {
  background-position: -156px -208px;
}
