@font-face {
  font-family: 'pf_agora_sans_probold';
  src: url("../fonts/pfagorasanspro-bold_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-bold_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-bold_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-bold_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-bold_0-webfont.svg#pf_agora_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_probold_italic';
  src: url("../fonts/pfagorasanspro-bolditalic_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-bolditalic_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-bolditalic_0-webfont.svg#pf_agora_sans_probold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_mediumRg';
  src: url("../fonts/pfagorasanspro-medium_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-medium_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-medium_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-medium_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-medium_0-webfont.svg#pf_agora_sans_pro_mediumRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_mediumIt';
  src: url("../fonts/pfagorasanspro-mediumital_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-mediumital_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-mediumital_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-mediumital_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-mediumital_0-webfont.svg#pf_agora_sans_pro_mediumIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_proregular';
  src: url("../fonts/pfagorasanspro-reg_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-reg_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-reg_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-reg_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-reg_0-webfont.svg#pf_agora_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_proitalic';
  src: url("../fonts/pfagorasanspro-italic_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-italic_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-italic_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-italic_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-italic_0-webfont.svg#pf_agora_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_lightRg';
  src: url("../fonts/pfagorasanspro-light_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-light_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-light_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-light_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-light_0-webfont.svg#pf_agora_sans_pro_lightRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_pro_lightitalic';
  src: url("../fonts/pfagorasanspro-lightital_0-webfont.eot");
  src: url("../fonts/pfagorasanspro-lightital_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-lightital_0-webfont.woff") format("woff"), url("../fonts/pfagorasanspro-lightital_0-webfont.ttf") format("truetype"), url("../fonts/pfagorasanspro-lightital_0-webfont.svg#pf_agora_sans_pro_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_probold';
  src: url("../fonts/pfsquaresanspro-bold-webfont.eot");
  src: url("../fonts/pfsquaresanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-bold-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-bold-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-bold-webfont.svg#pf_square_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_proregular';
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot");
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-regular-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-regular-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-regular-webfont.svg#pf_square_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_mediumRg';
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot");
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-medium-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-medium-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-medium-webfont.svg#pf_square_sans_pro_mediumRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_mediumIt';
  src: url("../fonts/pfsquaresanspro-meditalic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-meditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-meditalic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-meditalic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-meditalic-webfont.svg#pf_square_sans_pro_mediumIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_proitalic';
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-italic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-italic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-italic-webfont.svg#pf_square_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_lightRg';
  src: url("../fonts/pfsquaresanspro-light-webfont.eot");
  src: url("../fonts/pfsquaresanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-light-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-light-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-light-webfont.svg#pf_square_sans_pro_lightRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_square_sans_pro_lightIt';
  src: url("../fonts/pfsquaresanspro-lightitalic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-lightitalic-webfont.woff") format("woff"), url("../fonts/pfsquaresanspro-lightitalic-webfont.ttf") format("truetype"), url("../fonts/pfsquaresanspro-lightitalic-webfont.svg#pf_square_sans_pro_lightIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 173, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 180, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
ul, ol, li {
  list-style: none;
}

/* line 183, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 316, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  color: #2a2829;
  font: normal 12px/18px Tahoma, Arial, sans-serif;
}

/* line 323, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header {
  width: 100%;
  height: 90px;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 215, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .logo {
  float: left;
  margin: 22px 0 0 0;
}
/* line 325, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions {
  width: auto;
  font-size: 0;
  float: right;
  margin: 40px 0 0;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}
/* line 329, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li {
  margin-left: 20px;
}
/* line 332, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li:first-child a {
  color: #32393d;
}
/* line 335, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter {
  background-color: #3d3d3d;
  border-radius: 18px;
  height: 33px;
}
/* line 339, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form {
  float: left;
  margin: -5px 10px 0 15px;
  border-radius: 22px;
  background-color: #dc2a2a;
  height: 43px;
}
/* line 345, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form .arr-count {
  width: auto;
  font-size: 0;
  margin: 5px 5px 0 8px;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form .arr-count li {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}
/* line 348, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form .arr-count li {
  margin: 0 2px;
}
/* line 350, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form .arr-count li a {
  color: #e98989;
  text-decoration: none;
}
/* line 354, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter form .arr-count li input {
  font: normal 22px Tahoma, Arial, sans-serif;
  color: #feffff;
  background-color: #dc2a2a;
  width: 15px;
}
/* line 363, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.counter > a {
  color: #feffff;
  float: left;
  margin: 5px 12px 0 0;
  text-decoration: none;
}
/* line 370, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.ask-me {
  border-radius: 18px;
  height: 33px;
  background-color: #2889f1;
}
/* line 374, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.ask-me a {
  text-decoration: none;
  color: #feffff;
  padding: 2px 22px 0 10px;
  display: block;
  height: 100%;
}
/* line 381, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.ask-me a:hover span {
  border-bottom: none;
}
/* line 385, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.ask-me a img {
  float: left;
}
/* line 388, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.header .actions li.ask-me a span {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  float: right;
  margin: 3px 0 0 12px;
}

/* line 399, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner {
  background: #697a88;
  overflow: hidden;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 403, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap {
  position: relative;
  height: 401px;
}
/* line 406, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 {
  position: relative;
}
/* line 408, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-biggest {
  font-family: 'pf_square_sans_probold', sans-serif;
  font-size: 120px;
  color: #1b7ce5;
  text-shadow: 1px 1px 0 #f2f3f5;
  position: absolute;
  bottom: 255px;
  left: 40px;
}
/* line 419, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-medium {
  font-family: 'pf_square_sans_pro_mediumRg', sans-serif;
  font-size: 90px;
  color: #2b3135;
  text-shadow: 1px 1px 0 #f6f7f9;
  position: absolute;
  bottom: 100px;
  left: 145px;
}
/* line 430, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner .wrap h2 .txt-smallest {
  font-family: 'pf_square_sans_pro_mediumRg', sans-serif;
  font-size: 50px;
  color: #2b3135;
  text-shadow: 1px 1px #f6f7f9;
  position: absolute;
  bottom: 165px;
  left: -10px;
}

/* line 444, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text {
  background: url(../img/bg/noise-dark.png) 0 0 repeat;
  box-shadow: 0 4px 7px 2px #9A9A9A;
  position: relative;
  z-index: 2;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap {
  margin: 0 auto;
  width: 960px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 450, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text ul {
  width: auto;
  font-size: 0;
  height: 130px;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text ul li {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
/* line 453, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text ul li {
  width: 368px;
  margin: 30px 0 0 0;
  color: #fff;
  vertical-align: top;
  text-align: justify;
}
/* line 460, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text ul li.img-item {
  width: 194px;
  margin: 0 35px 0 0;
  padding: 0;
  position: relative;
  bottom: 25%;
}
/* line 467, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-banner-text ul li.col-1 {
  width: 316px;
  margin-right: 30px;
}

/* line 474, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness {
  background: #e0e0e0 url(../img/elem/border-line.png) 0 bottom repeat-x;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 477, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap {
  padding: 70px 0 30px;
  overflow: hidden;
}
/* line 480, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .b-dotted {
  border: 4px dotted #a7a6a6;
  border-radius: 12px;
  padding: 18px 15px 20px 19px;
  float: left;
  margin-right: 13px;
  text-shadow: 1px 1px 0 #fff;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  width: 220px;
}
/* line 492, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .b-dotted h5 {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
/* line 501, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-illness .wrap .carousel {
  float: left;
}

/* line 507, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods {
  background: url(../img/bg/cell-dark.png) 0 0 repeat;
  overflow: hidden;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 511, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .m-img {
  float: left;
  margin: 20px 0 0 -10%;
}
/* line 515, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods {
  float: left;
  width: 67%;
}
/* line 518, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods .m-txt {
  color: #fff;
}
/* line 520, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods .m-txt h3 {
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 12px;
  text-shadow: 0 1px 1px #000;
}
/* line 530, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods .item-1 {
  margin: 60px 0 0 -90px;
}
/* line 531, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods .item-2 {
  margin: 50px 0 0 20px;
}
/* line 532, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .methods .item-3 {
  margin: 70px 0 0 -90px;
}
/* line 534, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.other-methods .border {
  position: relative;
  z-index: 3;
  left: 25%;
  display: block;
  height: 40px;
}

/* line 540, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad {
  background: url(../img/bg/canvas-grey.jpg) 0 0 repeat;
  overflow: hidden;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 546, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg h2 {
  padding: 15px 42px 0 0;
  margin: 10px 40px 0 0;
  background: url(../img/elem/arr-grey.png) right 0 no-repeat;
  float: left;
  width: 487px;
  text-shadow: 1px 1px 0 #fff;
  line-height: 64px;
}
/* line 554, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg h2 .txt-biggest {
  font-family: 'pf_square_sans_pro_mediumIt', sans-serif;
  font-size: 95px;
  color: #3b3b3b;
}
/* line 561, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg h2 .txt-medium {
  font-family: 'pf_square_sans_pro_lightRg', sans-serif;
  font-size: 64px;
  float: right;
  color: #2889f1;
  line-height: 41px;
}
/* line 570, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg h2 .txt-mediumIt {
  font-family: 'pf_square_sans_proitalic', sans-serif;
  font-size: 70px;
  color: #3b3b3b;
  line-height: 91px;
}
/* line 578, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg h2 .txt-smallest {
  font-family: 'pf_square_sans_pro_lightRg', sans-serif;
  font-size: 50px;
  color: #2889f1;
}
/* line 586, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg ul {
  float: left;
  width: 42%;
  margin-bottom: 30px;
}
/* line 246, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .arg ul li {
  margin-bottom: 10px;
  font-size: 14px;
  list-style-image: url("../img/elem/bull-blue.png");
}
/* line 593, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line {
  background-color: rgba(0, 0, 0, 0.1);
  height: 80px;
  position: relative;
  width: 930px;
  margin: 0 auto;
  border-top: 1px dashed #949697;
  border-bottom: 1px dashed #fff;
  margin-bottom: 40px;
}
/* line 602, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line:before {
  content: url(../img/elem/title-arr-l.png);
  display: block;
  position: absolute;
  top: 0;
  left: -11px;
}
/* line 609, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line:after {
  content: url(../img/elem/title-arr-r.png);
  display: block;
  position: absolute;
  top: 0;
  right: -11px;
}
/* line 616, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line h3 {
  text-align: center;
  line-height: 30px;
  padding-top: 8px;
  border-bottom: 1px dashed #949697;
  border-top: 1px dashed #fff;
  height: 70px;
  width: 99.9%;
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  font-size: 22px;
}
/* line 628, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line h3 span {
  font-family: 'pf_agora_sans_pro_mediumIt', sans-serif;
}
/* line 631, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .promo-line h3 span.colored {
  color: #2889f1;
  font-size: 24px;
  font-family: 'pf_agora_sans_proitalic';
}
/* line 638, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities {
  width: auto;
  font-size: 0;
  margin: 0 auto;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}
/* line 641, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li {
  width: 25%;
  margin-bottom: 25px;
  line-height: 100%;
  height: 60px;
}
/* line 646, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li .safe {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 0 no-repeat;
  vertical-align: -100%;
}
/* line 650, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li .stuff {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -63px no-repeat;
  vertical-align: -7%;
}
/* line 654, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li .inj {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -126px no-repeat;
  vertical-align: -100%;
}
/* line 658, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li .done {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/sprite.png) 0 -189px no-repeat;
  vertical-align: -45%;
}
/* line 663, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .qualities li .txt {
  font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
  display: inline-block;
  width: 60%;
  margin-left: 15px;
  vertical-align: 10%;
}
/* line 672, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .border {
  position: relative;
  z-index: 3;
  left: 50%;
  display: block;
  height: 101px;
  float: left;
  margin-top: -40px;
}
/* line 676, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad .border img {
  float: left;
  position: relative;
  left: -50%;
}

/* line 685, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method {
  background-color: #dcdcdc;
  padding-bottom: 70px;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .wrap {
  margin: 0 auto;
  width: 990px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 689, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner {
  overflow: hidden;
  padding-top: 10px;
}
/* line 692, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .img {
  float: left;
  margin: 25px 30px 0 0;
}
/* line 696, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .disk {
  border: 6px solid #fff;
  background: #d0cece url(../img/bg/cell-gradient.jpg) 0 bottom repeat-x;
  border-radius: 12px;
  float: right;
  padding: 0 20px 10px 10px;
  margin-top: 50px;
  height: 180px;
  width: 620px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .disk:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 706, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .disk img {
  float: left;
  margin: -60px 15px 0 0;
}
/* line 710, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .disk .txt {
  float: left;
  width: 385px;
  margin-top: 20px;
  line-height: 34px;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
  font-size: 20px;
}
/* line 720, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .banner .disk .txt .colored {
  font-family: 'pf_agora_sans_probold', sans-serif;
  font-size: 30px;
  color: #2889f1;
  display: block;
}
/* line 731, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .border {
  border-bottom: 1px dashed #939697;
  height: 3px;
  line-height: 0;
  margin: 25px auto 10px;
  width: 930px;
}
/* line 737, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .border span {
  border-bottom: 1px dashed #FFFFFF;
  display: inline-block;
  height: 100%;
  line-height: 0;
  margin: 0 auto;
  width: 99.9%;
}
/* line 746, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence {
  overflow: hidden;
  margin-bottom: -40px;
}
/* line 749, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .img {
  float: left;
  margin-right: 30px;
}
/* line 753, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .txt {
  float: right;
  width: 490px;
  margin-top: 30px;
}
/* line 757, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .txt ul {
  margin-bottom: 30px;
}
/* line 246, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .txt ul li {
  margin-bottom: 10px;
  font-size: 14px;
  list-style-image: url("../img/elem/bull-blue.png");
}
/* line 760, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .txt ul li {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  line-height: 18px;
  margin-bottom: 15px;
}
/* line 771, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-ad-method .b-licence .txt .ad-txt {
  font-size: 14px;
  line-height: 22px;
}

/* line 779, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works {
  width: 100%;
  background: url("../img/bg/eye-dark.png") 0 0 repeat;
  padding-bottom: 44px;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 278, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .big-bg-title {
  background: url("../img/bg/big-title-blue.png") 0 0 no-repeat;
  width: 550px;
  height: 87px;
  margin: 0 auto -25px;
  text-align: center;
  line-height: 87px;
  position: relative;
  top: -44px;
  font-size: 31px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  color: #fff;
  text-shadow: -1px -1px #2571cc;
}
/* line 254, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content {
  overflow: hidden;
}
/* line 256, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .col-l {
  float: left;
  width: 695px;
  margin-right: 15px;
}
/* line 261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .col-r {
  float: right;
  width: 240px;
}
/* line 782, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content {
  color: #fff;
}
/* line 785, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content h3 {
  font-size: 31px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 35px;
  font-family: "pf_agora_sans_proregular", sans-serif;
}
/* line 793, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .txt {
  font-size: 14px;
}
/* line 795, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .txt p {
  margin-bottom: 15px;
}
/* line 800, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .bubble {
  padding: 20px 5px 25px 25px;
  background-color: #2388ef;
  border-radius: 12px;
  position: relative;
  font-family: 'pf_agora_sans_pro_lightitalic', sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-shadow: -1px -1px #1377dd;
}
/* line 811, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.how-it-works .content .bubble:after {
  content: url(../img/elem/corner-bott.png);
  width: 54px;
  height: 32px;
  display: block;
  position: absolute;
  bottom: -32px;
  right: 40px;
  z-index: 2;
}

/* line 825, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information {
  width: 100%;
  background: url("../img/bg/eye-light.png") 0 0 repeat;
  padding-bottom: 44px;
  width: 100%;
  -webkit-box-shadow: hoff voff radius color;
  -moz-box-shadow: hoff voff radius color;
  box-shadow: hoff voff radius color;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .wrap {
  margin: 0 auto;
  width: 980px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 278, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .big-bg-title {
  background: url("../img/bg/big-title-red.png") 0 0 no-repeat;
  width: 550px;
  height: 87px;
  margin: 0 auto -25px;
  text-align: center;
  line-height: 87px;
  position: relative;
  top: -44px;
  font-size: 24px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  color: #fff;
  text-shadow: -1px -1px #b11829;
}
/* line 254, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .content {
  overflow: hidden;
}
/* line 256, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .content .col-l {
  float: left;
  width: 355px;
  margin-right: 35px;
}
/* line 261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .content .col-r {
  float: right;
  width: 540px;
}
/* line 831, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information h3 span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  width: 385px;
}
/* line 838, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information h4 {
  font-size: 24px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  line-height: 28px;
  margin-bottom: 20px;
  width: 99%;
}
/* line 847, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted {
  border: 4px dotted #a7a6a6;
  border-radius: 12px;
  padding: 18px 15px 20px 19px;
}
/* line 850, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted ul > li {
  margin-bottom: 10px;
}
/* line 852, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted ul > li .txt {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 59%;
}
/* line 864, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted ul > li .steps {
  display: inline-block;
  width: 72px;
  height: 72px;
  background: url(../img/sprite.png) -72px 0 no-repeat;
  vertical-align: middle;
}
/* line 868, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted ul > li .video {
  display: inline-block;
  width: 72px;
  height: 72px;
  background: url(../img/sprite.png) -72px -77px no-repeat;
  vertical-align: middle;
}
/* line 872, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information .b-dotted ul > li .exercise {
  display: inline-block;
  width: 72px;
  height: 72px;
  background: url(../img/sprite.png) -72px -154px no-repeat;
  vertical-align: middle;
}
/* line 878, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information div.txt {
  margin-top: 22px;
}
/* line 880, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information div.txt h4 {
  margin-bottom: 38px;
}
/* line 883, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information div.txt ul {
  margin-left: 30px;
}
/* line 246, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information div.txt ul li {
  margin-bottom: 10px;
  font-size: 14px;
  list-style-image: url("../img/elem/bull-red.png");
}
/* line 886, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.information div.txt ul li {
  margin-bottom: 12px;
}

/* line 893, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.info-carousel {
  width: 100%;
  position: relative;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.info-carousel .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.info-carousel .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 896, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.info-carousel > img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 903, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback {
  width: 100%;
  background: url(../img/bg/noise-light.png) 0 0 repeat;
  padding-bottom: 10px;
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #383637;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 907, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .border {
  display: block;
  height: 14px;
  width: 100%;
  background: url(../img/elem/border-noise-light.png) 0 0 repeat-x;
  position: relative;
  top: -14px;
  z-index: 2;
}
/* line 917, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .title-ribbon {
  width: 899px;
  height: 77px;
  margin: 0 auto -20px;
  background: url(../img/elem/red-ribbon.png) 0 0 no-repeat;
  color: #fff;
  text-shadow: -1px -1px #b11829;
  font-size: 24px;
  font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
  font-style: normal;
  line-height: 74px;
  text-align: center;
  position: relative;
  top: -45px;
  z-index: 3;
}
/* line 254, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .title-ribbon .content {
  overflow: hidden;
}
/* line 256, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .title-ribbon .content .col-l {
  float: left;
  width: 400px;
  margin-right: 0;
}
/* line 261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .title-ribbon .content .col-r {
  float: right;
  width: 385px;
}
/* line 254, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .content {
  overflow: hidden;
}
/* line 256, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .content .col-l {
  float: left;
  width: 470px;
  margin-right: 30px;
}
/* line 261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .content .col-r {
  float: right;
  width: 485px;
}
/* line 945, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog {
  border-top: 1px dashed #949697;
  padding: 43px 1px 43px 0;
  width: 460px;
  overflow: hidden;
}
/* line 950, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog:first-child {
  border-top: 0;
  padding-top: 5px;
}
/* line 954, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .ans {
  float: right;
  width: 370px;
  background-color: #dedede;
  padding: 15px 15px 17px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 8px;
}
/* line 966, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .ans:after {
  content: url(../img/elem/corner-left.png);
  width: 21px;
  height: 20px;
  display: block;
  position: absolute;
  top: 25px;
  left: -21px;
  z-index: 2;
}
/* line 976, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .ans dl {
  overflow: hidden;
}
/* line 978, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .ans dl dt {
  float: left;
  font-weight: bold;
}
/* line 982, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .ans dl dd {
  margin-left: 78px;
}
/* line 988, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .qs {
  float: left;
  width: 370px;
  background-color: #4b9bec;
  padding: 15px 15px 17px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  color: #fefefe;
}
/* line 1000, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .qs:after {
  content: url(../img/elem/corner-right.png);
  width: 21px;
  height: 20px;
  display: block;
  position: absolute;
  top: 25px;
  right: -21px;
  z-index: 2;
}
/* line 1010, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .qs dl {
  overflow: hidden;
}
/* line 1012, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .qs dl dt {
  float: left;
  font-weight: bold;
}
/* line 1016, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .dialog .qs dl dd {
  margin-left: 78px;
}
/* line 1024, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .person-info {
  overflow: hidden;
  margin-bottom: -13px;
}
/* line 1027, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .person-info .ava {
  float: left;
  margin: 0 12px 0 30px;
}
/* line 1031, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .person-info .info {
  float: left;
  margin-top: 10px;
}
/* line 1034, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .person-info .info h5 {
  color: #d01525;
  font-size: 16px;
}
/* line 1038, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .person-info .info p {
  color: #464646;
}
/* line 1043, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .quote-wrap {
  font-size: 14px;
  position: relative;
  padding: 0 15px;
}
/* line 1048, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .quote-wrap:before {
  content: url(../img/elem/o-quote.png);
  margin-left: -15px;
}
/* line 1053, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .quote-wrap:after {
  content: url(../img/elem/c-quote.png);
  margin-left: 97%;
}
/* line 1057, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.feedback .quote .quote-wrap .txt {
  padding-bottom: 5px;
  line-height: 19px;
}

/* line 1065, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.promo-block {
  width: 100%;
  background: black url(../img/promo/banner3.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.promo-block .wrap {
  margin: 0 auto;
  width: 750px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.promo-block .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 1076, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.promo-block h3 {
  font-size: 19px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  line-height: 24px;
  margin-bottom: 40px;
  padding-top: 35px;
}
/* line 1085, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.promo-block h4 {
  font-family: 'pf_agora_sans_proitalic';
  font-size: 18px;
  line-height: 20px;
}

/* line 1092, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality {
  width: 100%;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
  padding-bottom: 5px;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .wrap {
  margin: 0 auto;
  width: 995px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 1097, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .border {
  display: block;
  width: 100%;
  height: 7px;
  background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
}
/* line 1104, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality h3 {
  font-size: 28px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  line-height: 36px;
  text-shadow: 1px 1px #fff;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 35px;
}
/* line 1114, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality h3 .colorer {
  color: #4b9bec;
  font-family: 'pf_agora_sans_pro_mediumRg', sans-serif;
}
/* line 1121, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality h4 {
  color: #848484;
  font-size: 22px;
  font-family: "pf_agora_sans_proregular", sans-serif;
  line-height: 36px;
  text-shadow: 1px 1px #fff;
  text-align: center;
  margin-bottom: 20px;
}
/* line 1133, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul {
  width: auto;
  font-size: 0;
  margin-bottom: 10px;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
/* line 1137, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul:first-child {
  background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
  padding-bottom: 32px;
  margin-bottom: 20px;
}
/* line 1143, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li {
  width: 25%;
  vertical-align: top;
}
/* line 1147, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li h4 {
  color: #383637;
  font-size: 24px;
  margin-bottom: 5px;
}
/* line 1153, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .icon {
  display: inline-block;
  width: 133px;
  height: 133px;
  background: url(../img/sprite.png) -273px 0 no-repeat;
  display: block;
  margin: 0 auto;
}
/* line 1158, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .active {
  background-position: -273px -138px;
}
/* line 1161, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .pleasure {
  background-position: -416px 0;
}
/* line 1164, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .calm {
  background-position: -419px -138px;
}
/* line 1167, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .beauty {
  background-position: -559px 0;
}
/* line 1170, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .car {
  background-position: -562px -138px;
}
/* line 1173, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .time {
  background-position: -702px 0;
}
/* line 1176, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .money {
  background-position: -705px -138px;
}
/* line 1180, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.quality .list-wrap ul li .txt {
  padding: 0 15px;
}

/* line 1187, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order {
  width: 100%;
  background: url(../img/bg/blique.png) 0 bottom repeat-x;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .wrap {
  margin: 0 auto;
  width: 1000px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 1190, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .bg-wrap {
  background: url(../img/bg/girl.jpg) 50% bottom no-repeat;
}
/* line 1193, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason {
  padding: 25px 0 37px;
  background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
}
/* line 1197, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red {
  width: 820px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #cc3f49;
  padding: 30px 70px 15px;
  overflow: hidden;
  margin-bottom: 25px;
}
/* line 1206, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .img {
  float: left;
  margin-right: 20px;
}
/* line 1210, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt {
  float: left;
  color: #fff;
  font-family: "pf_agora_sans_proregular", sans-serif;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 1215, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt h4 {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 1219, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt .quote {
  color: #000;
  font-size: 20px;
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  line-height: 30px;
  padding-left: 35px;
  margin-bottom: 20px;
}
/* line 1227, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt .quote:before {
  content: url(../img/elem/o-quote.png);
  margin: 0 0 -15px -35px;
  display: block;
}
/* line 1233, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red .txt .quote:after {
  content: url(../img/elem/c-quote.png);
  margin: -17px 0 0 77%;
  display: block;
}
/* line 1242, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul {
  margin-bottom: 35px;
  width: 750px;
  float: right;
}
/* line 1246, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul li {
  margin-bottom: 15px;
}
/* line 1249, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul li .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png) 0 -255px no-repeat;
  margin-right: 17px;
  vertical-align: top;
}
/* line 1254, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul li .num-2 {
  background-position: -75px -255px;
}
/* line 1257, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul li .num-3 {
  background-position: -151px -255px;
}
/* line 1261, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason ul li .txt {
  display: inline-block;
  width: 82%;
  margin-top: 10px;
}
/* line 1269, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red.effect {
  width: 635px;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
}
/* line 1274, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red.effect .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png) -156px 0 no-repeat;
}
/* line 1277, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .reason .b-red.effect .txt {
  font-size: 30px;
  line-height: 34px;
  width: 80%;
}
/* line 1285, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .formula {
  padding: 35px 0;
  background: url(../img/elem/border-dashed.png) 0 bottom repeat-x;
  text-align: center;
}
/* line 1289, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .formula h3 {
  color: #383637;
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 25px;
}
/* line 1298, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter {
  padding-top: 65px;
}
/* line 1300, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order {
  float: right;
  margin: 0 9% 35px 0;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 1304, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order .txt {
  text-align: right;
  float: left;
  margin-right: 45px;
  font-size: 20px;
  font-family: 'pf_agora_sans_proitalic', sans-serif;
  line-height: 30px;
}
/* line 1311, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order .txt span {
  display: block;
  font-family: 'pf_agora_sans_pro_mediumIt', sans-serif;
}
/* line 1316, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order .button {
  float: left;
  width: 332px;
}
/* line 1319, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .order .button a {
  display: block;
  width: 332px;
  height: 114px;
  background: url(../img/elem/button.png) 0 0 no-repeat;
}
/* line 1328, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .attention {
  float: right;
  margin: 0 2% 50px 0;
  border: 4px dotted #a7a6a6;
  border-radius: 12px;
  padding: 18px 15px 20px 19px;
  padding: 30px 15px;
  width: 530px;
}
/* line 1334, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .attention .img {
  float: left;
  margin-right: 20px;
}
/* line 1337, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .attention .img .icon {
  display: inline-block;
  width: 86px;
  height: 76px;
  background: url(../img/sprite.png) -156px -79px no-repeat;
}
/* line 1341, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.b-order .prefooter .attention .txt {
  float: left;
  width: 74%;
  color: #454343;
}

/* line 1351, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer {
  width: 100%;
  height: 90px;
  background: url(../img/bg/cell-blue.gif) 0 0 repeat;
  width: 100%;
}
/* line 202, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap {
  margin: 0 auto;
  width: 940px;
}
/* line 191, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .wrap:after {
  display: block;
  clear: both;
  content: ' ';
}
/* line 215, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .logo {
  float: left;
  margin: 17px 40px 0 0;
}
/* line 1353, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .shadow {
  width: 100%;
  height: 6px;
  display: block;
  background: url(../img/elem/shadow-footer.png) 0 top repeat-x;
}
/* line 1359, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright {
  float: left;
  color: #383637;
  margin-top: 20px;
}
/* line 1363, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright p {
  margin-bottom: 5px;
}
/* line 1366, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts {
  width: auto;
  font-size: 0;
}
/* line 225, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
/* line 1368, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li {
  margin-right: 17px;
}
/* line 1370, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li:first-child {
  margin-right: 10px;
}
/* line 1373, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li a {
  text-decoration: none;
}
/* line 1376, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li a:hover .txt {
  text-decoration: none;
}
/* line 1380, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li a .txt {
  color: #2893cd;
  text-decoration: underline;
}
/* line 1385, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li .icon {
  background: url(../img/sprite.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
/* line 1393, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li .mail {
  background-position: -156px -168px;
}
/* line 1396, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li .icq {
  background-position: -156px -187px;
}
/* line 1399, C:/Users/Albina/Documents/GitHub/Prozrenie/sass/screen.scss */
.footer .copyright .contacts li .skype {
  background-position: -156px -208px;
}
